
    body {
        margin: 18pt;
        background-color: rgb(48,48,48) !important;
        color: white;
    }
    table {
        background-color: rgb(128,128,128);
        padding: 3pt;
    }
    td {
        color: black;
        padding: 6pt;
    }
    th {
        background-color: rgb(48,48,48);
        color: rgb(192,192,0);
        padding: 6pt;
    }
    a {
        color: rgb(72,72,224);
    }
    a.link {
        color: rgb(0,0,64);
        text-decoration: none;
    }
    div {
        indent: 36pt;
    }
